/* --------- Colors ----------- */
/* #01161E - Blue Almost Black */
/* #124559 - Ocean Blue */
/* #598392 - Teal Blue */
/* #AEC3B0 - Cambridge Blue */
/* #EFF6E0 - Beige */


/* --------- Global ----------- */
html{
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: in;
}

body {
    background: #EFF6E0;
    margin: 0;
}
h1 {
    font-size: 36pt;
    font-family: Verdana;
    text-shadow: 6px 6px#002d3f;
}
h2 {
    font-size: 28pt;
    font-family: Verdana;
}
h3 {
    font-size: 18pt;
    font-family: Verdana;
}
p {
    font-size: 14pt;
    font-family: Verdana;
}
.content-wrap{
    width: 900px;
    margin: 0 auto;
    padding: 60px 0;
}


/* --------- Profile ---------- */
header {
    background: #124559;
    color: #EFF6E0;
}


/* --------- Projects --------- */
.projects {
    background :#598392;
    color: #EFF6E0;
}
.image {
    width: 800px; 
}


/* --------- Education -------- */
.education {
    background: #01161E;
    color: #EFF6E0;
}


/* ---------- Contact --------- */
footer {
    background: #AEC3B0;
    color: #124559;
}
a:link{
    text-decoration: none;
    font-family: Verdana;
}